<p>
Hola {{ nombre }} {{ apellido }}, Gracias por usar el sistema de pqrd de corpochivor
</p>

<p>
Ha sido generado el codigo: <b>{{ code }}</b> para su PQRD creada el dia {{dia}}/{{mes}}/{{year}}
</p>

<p>
Si desea consultar el estado de su solicitud ingrese al <a href="http://pqrd2.corpochivor.gov.co/solicitante/">siguiente enlace</a> e ingrese el codigo anterior
</p>

<p>
Si tiene alguna duda utilize los medios listados a continuacion:
</p>

<p>
Correos:
<ul>
    <li><a href="mailto:contactenos@corpochivor.gov.co">contactenos@corpochivor.gov.co</a></li>
    <li><a href="mailto:cchivor@corpochivor.gov.co">cchivor@corpochivor.gov.co</a></li>
</ul>
<p>

<p>
Teléfonos:

<ul>
    <li><address>7 500 661</address></li>
    <li><address>7 501 356</address></li>
</ul>
Extensión 214 "Atención al Ciudadano"
<p>

<p>
Por favor NO responder a este mensaje, fue generado automaticamente por el sistema de PQRD y no esta habilitado para 
    recibir mensajes
</p>

<p>
PQRD – CORPOCHIVOR
</p>
<p>
2018
</p>
